@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@font-face {
  font-family: "Baloo Bhaina";
  font-style: normal;
  font-weight: 900, 800, 700;
  font-display: swap;
  src:
    local("Baloo Bhaina"),
    url("./assets/fonts/BalooBhaina-Regular.woff") format("woff");
}
html {
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif;
}
body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  background-color: #faf9fd;
}
